<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--    <settings>-->
<!--        <setting name="useColumnLabel" value="true"/>-->
<!--        <setting name="useGeneratedKeys" value="true"/>-->
<!--        <setting name="autoMappingBehavior" value="PARTIAL"/>-->
<!--        <setting name="autoMappingUnknownColumnBehavior" value="NONE"/>-->
<!--        <setting name="mapUnderscoreToCamelCase" value="true"/>-->
<!--        <setting name="returnInstanceForEmptyRow" value="false"/>-->
<!--    </settings>-->

    <typeAliases>
        <typeAlias type="com.catalog.models.Student" alias="Student"/>
        <typeAlias type="com.catalog.models.Exam" alias="Exam"/>
        <typeAlias type="com.catalog.models.Grade" alias="Grade"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3308/student_catalog"/>
                <property name="username" value="bostudent"/>
                <property name="password" value="pass@123"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/StudentMapper.xml" />
        <mapper resource="mapper/ExamMapper.xml" />
    </mappers>
</configuration>